Package: probert
Version: 0.0.21
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 12
Depends: probert-network, probert-storage
Section: admin
Priority: optional
Homepage: https://github.com/canonical/probert
Description: Hardware probing tool - metapackage
 This package provides a tool for probing host hardware information
 and emitting a JSON report.
 .
 This package provides full probing capability.
