Package: probert-common
Source: probert
Version: 0.0.21
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 40
Depends: python3-jsonschema, python3-pyudev, python3:any
Breaks: probert (<< 0.0.16)
Replaces: probert (<< 0.0.16)
Section: admin
Priority: optional
Homepage: https://github.com/canonical/probert
Description: Hardware probing tool - common
 This package provides a tool for probing host hardware information
 and emitting a JSON report.
 .
 This package provides the common code for probing.
